// TODO: find lit color scheme
//// TODO: THEMES
// TODO:layout
//// css grid? flexbox? google it
// TODO: style buttons
// TODO: style button activations
//// glow!
//// possibly animate?
//// code it button.js: this.state.active
// TODO: style footer
//// minimal, clean


@import url('https://fonts.googleapis.com/css?family=Geo');
$font: 'Geo', sans-serif;
$primary-color: #2eb9f7;
$button-color: #f9c80e;
$button-active: #f28300;
$secondary-color: #494747;
$ternary-color: #13f261;

html, body, {
  background-color: $primary-color;
  font-family: $font;
  text-align: center;
  display: flex;
  height: 100%;
  overflow-y: hidden;
  flex-direction: column;
  margin: 0;
  margin-top: 10px;
  color: $ternary-color;
  align-items: center;
  justify-content: center;
}

.App, .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 1000px;
}

footer {
  align-self: flex-end;
  background-color: $secondary-color;
  color: white;
  width: 100%;
  min-height: 50px;
}

.buttons-grid {
  display: flex;
  align-self: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 40%;
  margin: 0 31%;
  button, .button-container {
    font-family: $font;
    font-size: 18px;
    justify-content: space-around;
    background-color: $button-color;
    border: none;
    outline: none;
    width: 125px;
    height: 125px;
  }
  button {
    border: 1px solid rgba(0,0,0,.05);
  }
  .isActive {
    animation: grow 1s infinite;
    transform-origin: center;
    border: none;
    box-shadow: inset -2px -2px 50px 5px rgba(255,255,255,0.3);
  }
}

@keyframes grow {
  0% {transform: scale(1);}
  50% {transform: scale(0.85);}
  100% {transform: scale(1);}
}
