// TODO: find lit color scheme
//// TODO: THEMES
// TODO:layout
//// css grid? flexbox? google it
// TODO: style buttons
// TODO: style button activations
//// glow!
//// possibly animate?
//// code it button.js: this.state.active
// TODO: style footer
//// minimal, clean


@import url('https://fonts.googleapis.com/css?family=Geo');
$primary-color: #2eb9f7;
$button-color: #f9c80e;
$button-active: #f28300;
$secondary-color: #494747;
$ternary-color: #13f261;

html, body {
  background-color: $primary-color;
  font-family: 'Geo', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  color: $ternary-color;
}

footer {
  background-color: $secondary-color;
  color: white;
  position: absolute;
  width: 100%;
  bottom: 0;
  min-height: 50px;
}

.buttons-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  button, .button-container {
    background-color: $button-color;
    border: none;
    border-radius: 25px;
    outline: none;
    width: 100px;
    height: 100px;
  }
  button {
    box-shadow: 2px 2px;
  }
  .isActive {
    background-color: $button-active;
    box-shadow: none;
  }
}
