@import url("https://fonts.googleapis.com/css?family=Geo");
html, body {
  background-color: #2eb9f7;
  font-family: "Geo", sans-serif;
  text-align: center;
  display: flex;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  flex-direction: column;
  margin: 0;
  color: #13f261;
  align-items: center;
  justify-content: center; }

.party-mode {
  background-color: rgba(0, 0, 0, 0);
  animation: rainbow 2s infinite;
  color: black; }

img {
  width: 250px;
  -webkit-animation: slideDown 1s;
  /* Safari 4+ */
  -moz-animation: slideDown 1s;
  /* Fx 5+ */
  -o-animation: slideDown 1s;
  animation: slideDown 1s;
  transform-origin: center; }

h1, h3 {
  margin-top: 0;
  -webkit-animation: slideDown 2s;
  /* Safari 4+ */
  -moz-animation: slideDown 2s;
  /* Fx 5+ */
  -o-animation: slideDown 2s;
  animation: slideDown 2s; }

#root, .App, .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  padding: 10px 0 0 0; }

.buttons-grid {
  -webkit-animation: slideDown 2.5s;
  /* Safari 4+ */
  -moz-animation: slideDown 2.5s;
  /* Fx 5+ */
  -o-animation: slideDown 2.5s;
  animation: slideDown 2.5s;
  display: flex;
  align-self: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 40%;
  margin: 0 33%; }
  .buttons-grid button, .buttons-grid .button-container {
    font-family: "Geo", sans-serif;
    font-size: 20px;
    justify-content: space-around;
    border: none;
    outline: none;
    width: 120px;
    height: 120px; }
  .buttons-grid button {
    border: 1px solid rgba(0, 0, 0, 0.05);
    background-color: #f9c80e; }
  .buttons-grid .isActive {
    animation: glow 1s infinite;
    transform-origin: center;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: inset -2px -2px 50px 5px rgba(255, 255, 255, 0.3); }

.party-button {
  animation: slideDown 2.5s;
  font-family: "Geo", sans-serif;
  align-self: center;
  width: 100px;
  border: none;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0); }

.party-button:before {
  content: "> "; }

.party-button:after {
  content: " <"; }

input {
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  border: none;
  font-family: "Geo", sans-serif;
  font-size: 36px;
  color: white;
  width: 75px; }

@keyframes slideDown {
  0% {
    transform: translateY(-5000%); }
  100% {
    transform: translateY(0%); } }
@keyframes pop {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
@keyframes glow {
  0% {
    box-shadow: inset -2px -2px 50px 5px rgba(255, 255, 255, 0); }
  50% {
    box-shadow: inset -2px -2px 50px 5px rgba(255, 255, 255, 0.5); }
  100% {
    box-shadow: inset -2px -2px 50px 5px rgba(255, 255, 255, 0); } }
@keyframes rainbow {
  0% {
    background: red; }
  20% {
    background: orange; }
  40% {
    background: yellow; }
  60% {
    background: green; }
  80% {
    background: blue; }
  100% {
    background: purple; } }
@media screen and (max-width: 950px), screen and (max-height: 600px) {
  html, body {
    max-width: 750px; }

  .App, .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%; }

  button, .button-container {
    font-size: 10px;
    max-width: 75px;
    max-height: 75px; } }

/*# sourceMappingURL=App.css.map */
